﻿body {

}
#wrapper
{
    width: 1080px;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
    background-color: #fff;
}

#banner
{
    height: 200px;
    border: 3px solid #E3E3E3;
    background-image: url(../Images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#navigation
{
    height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
    background-image: url(../Images/bar_background.jpg);
}

#nav
{
    list-style: none;
}

#nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#nav li
{
    font-size: 22px;
    float: left;
    position:relative;
    width: 180px;
    height: 50px;
}

#nav li ul li 
{
    background-image: url(../Images/bar_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #E3E3E3;
    padding-left: 10px;
}

#nav a:link, #nav a:active, #nav a:visited 
{
    display: block;
    color: #fff;
    text-decoration: none;
}

#nav a:hover
{
    color:lightblue;
}

#content_area
{
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px;
    border: 3px solid #E3E3E3;
}

#sidebar
{
    float: right;
    width: 250px;
    height: 400px;
    margin: 20px 10px 20px 10px;
    border: 3px solid #E3E3E3;
}

#footer
{
    clear: both;
    width: auto;
    height: 40px;
    margin-top: 20px;
    background-image: url(../Images/bar_background.jpg);
}