﻿body {
    background-color: darkslateblue;

    /* will be "on top", if browser supports it */
    background-image: radial-gradient(darkslateblue, white);
  
    background: navy;
    background: radial-gradient(darkslateblue, white);
}

p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: black;
}

h4
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: navy;
}

h3
{
    color: black;
    font-family: Arial;
    font-size: 22px;
}

label
{
    padding-right:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: Black;
}

#AwayTeamList
{
    margin-left: 7px;
    background-color: white;
    width: 120px;
    font-size:18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#LocationTextBox
{
    margin-left: 45px;
    background-color: white;
    width: 120px;
    font-size:18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navyBG {
  background-color: navy;
}

#outs_section
{
    float: right;
}

#circle {
  position: relative;
  background-color: red;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #fff;
}

#circle2 {
  position: relative;
  background-color: red;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #fff;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

#button_section
{
    padding-top:100px;
    padding-left:100px;
}

#middle_btns
{
    padding-top:10px;
    padding-left:40px;
}

#bottom_btns
{
    padding-top:10px;
    padding-left:50px;
}

#left {
    float:left;
}

#center
{
    display: inline-block;
    margin:0 auto;
    width:100px;
}

#right {
    float:right;
}