﻿body 
{
    background-color: darkslateblue;

    /* will be "on top", if browser supports it */
    background-image: radial-gradient(darkslateblue, white);
  
    background: navy;
    background: radial-gradient(darkslateblue, white);
}

#topBar
{
    background-color: #fff;
    overflow:hidden;
    margin-bottom: 5px;
    margin-right: 100px;
}

#playerImg
{
    position:absolute;
    top:435px;
    left:190px;
}

#runner1
{
    position:absolute;
    top:360px;
    left:370px;
}

#runner2
{
    position:absolute;
    top:280px;
    left:270px;
}

#runner3
{
    position:absolute;
    top:360px;
    left:170px;
}

#inning_num
{
    padding-right:25px;
}

#nice_hit
{
    position: absolute;
    top: 200px;
    left: 900px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}

#saveBtn
{
    position:absolute;
    top:130px;
    left:170px;
}

#quitBtn
{
    position:absolute;
    top:130px;
    left:330px;
    width: 51px;
    right: 112px;
}

#popupPanel
{
    position:absolute;
    top: 87px;
    left: 8px;
}

.popup
{
    background-color: yellow;
    height:510px;
    width:650px;
    text-align:center;
    vertical-align:middle;
    line-height: 300px;
}

#outs_section
{
    margin-top:-360px;
    padding-top: 150px;
    padding-bottom:150px;
    padding-left:25px;
    padding-right:25px;
    background-color: #fff;
    overflow:hidden;
}

label
{
    padding-right:10px;
}

h1
{
    color: navy;
    font-family: Arial;
    font-size: 30px;
}

h3
{
    color: navy;
    font-family: Arial;
    font-size: 22px;
}

#button_section
{
    background-image:url(/Images/baseballDiamond.png);
    background-repeat: no-repeat;
    overflow:hidden;
    padding-bottom: 15px;
    
}

.gameBtn
{
    -moz-border-radius: 100px; 
    -webkit-border-radius: 100px; 
    border-radius: 100px;
    border-width: 1px;
    border-color: white;
    background-image: url("/Images/baseball1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    width: 80px; 
}

.navyBG {
  background-color: navy;
}

#scoreboard
{
    position:absolute;
    top:235px;
    left:690px;
    height: 200px;
    width: 500px;
    font-size: 32px;
}

#outs_section
{
    position:absolute;
    top: 440px;
    left: 1251px;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom:200px;
}

#circle {
  position: relative;
  background-color: red;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid white;
}

#circle2 {
  position: relative;
  background-color: red;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid white;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size:22px;
}

#button_section
{
    padding-top:100px;
    padding-left:100px;
}

#strikeoutBtn
{
    padding-top: 330px;
    padding-left:275px;
}

#walkBtn
{
    margin-top:-80px;
    padding-left:40px;
}

#singleBtn
{
    padding-top: 95px;
    padding-left:280px;
}

#doubleBtn
{
    margin-top: -170px;
    padding-left:160px;
}

#tripleBtn
{
    padding-top: 10px;
    padding-left: 40px;
}

#hrBtn
{
    margin-top: -265px;
    padding-left:160px;
}

#left {
    float:left;
}

#center
{
    display: inline-block;
    margin:0 auto;
    width:100px;
}

#right {
    float:right;
}